image: rancher/hardened-sriov-network-operator:{{build.tag}}
manifests:
  -
    image: rancher/hardened-sriov-network-operator:{{build.tag}}-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: rancher/hardened-sriov-network-operator:{{build.tag}}-arm64
    platform:
      architecture: arm64
      os: linux
image: rancher/hardened-sriov-network-config-daemon:{{build.tag}}
manifests:
  -
    image: rancher/hardened-sriov-network-config-daemon:{{build.tag}}-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: rancher/hardened-sriov-network-config-daemon:{{build.tag}}-arm64
    platform:
      architecture: arm64
      os: linux
image: rancher/hardened-sriov-network-webhook:{{build.tag}}
manifests:
  -
    image: rancher/hardened-sriov-network-webhook:{{build.tag}}-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: rancher/hardened-sriov-network-webhook:{{build.tag}}-arm64
    platform:
      architecture: arm64
      os: linux
